{% if current_user.is_authenticated %}
    <br/>
    <div class="flex-row row">
    {% for collection in collections %}
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <article class="thumbnail">
                <header>
                    <h3><a href="{{url_for('.learn', id=collection.id, mode='start')}}">{{ collection.name }}</a></h3>
                    <div class="category">
                        {% for category in collection.categories %}
                            <span class="label label-primary">{{ category.name }}</span>
                        {% endfor %}
                    </div>
                </header>
                <p class="flex-text">{{ collection.flashcards.count() }} Flashcards in this Collection</p>
            </article>
        </div>
    {% endfor %}

{% endif %}
</div>
