{% extends "base.html" %}

{% block title %}Flashcard - Page Not Found{% endblock %}

{% block page_content %}

    <h1>thank you, you have finished.</h1> <br/>
    <b>Some questions below:</b>

    <p><b>Q1: </b>If you had a test tomorow, what percentage do you think you will achieve for each set?</p>
    <label>Set 1:</label>
    <input class="form-control" type="text"> <br/>

    <label>Set 3:</label>
    <input class="form-control" type="text"></input> <br/>

    <label>Set 3:</label>
    <input class="form-control" type="text"></input> <br/><br/>

    <p><b>Q2: </b>Were the difficulties of each set similar? Or very different?</p>
    <textarea class="form-control" rows=2></textarea> <br/>

    <p><b>Q3: </b>What were your motivation levels throughout? Did you get bored? Too long?</p>
    <textarea class="form-control" rows=2></textarea> <br/>

    <p><b>Q4: </b>Which set did you learn most efficiently, and why do you think so?</p>
    <textarea class="form-control" rows=2></textarea> <br/>

    <h1>SCREENSHOT AND SEND TO JOE (for now)</h1>

{% endblock %}
