{% extends "base.html" %}

{% block title %}Flashcard - Learning Collection {{ name }}{% endblock %}

{% block page_content %}
<!-- <p style="font-size: 20px; font-family: helvetica; text-align: center">Time left: {{time_left}} minutes<p> -->
  <div class="panel panel-default" style="float:left; position:absolute">
    <div class="panel-body">
      <b>Leaderboards</b> <br></br>
      <ol style="text-align: left; margin: 0; padding-left:19px">
        {% for key in leaderboards.keys() %}
          {% if current_user.username == key %}
          <li class="red"><b>{{key}}</b> - {{leaderboards[key]}}</li>
          {% else %}
          <li><b>{{key}}</b> - {{leaderboards[key]}}</li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </div>
    <div class="learn_word_outer">
        <div class="learn_word_inner">
            <div>
                <div class="flashcard-body">
                  <div class="stopwatch" style="font-size:15px; font-weight:lighter; color:grey">
                      <span id="my-stopwatch"></span> seconds
                  </div>
                  <span style="font-size:20px; font-weight:lighter; color:grey">
                      <p>Remember this word!</p>
                  </span>
                    {% if flashcard.question_html %}
                        <p class="blue">{{ flashcard.question_html | safe }}</p>
                    {% else %}
                        <p class="blue">{{ flashcard.question }}</p>
                    {% endif %}
                </div>

            </div>
            <div class="flashcard-body" id="answer_text">
                {% if flashcard.answer_html %}
                    <p>{{ flashcard.answer_html | safe }}</p>
                {% else %}
                    <p>{{ flashcard.answer }}</p>
                {% endif %}
            </div>

            <a id="next" href="{{ url_for('.next', collId=collection.id,cardId=flashcard.id,mode=request.args.get('mode')) }}" class="btn btn-primary" style="display:none">Next Question</a>

        </div>
    </div>
    <p style="font-size: 20px; font-family: helvetica; text-align: center">Learning Progress - {{seen}}/{{overall_len}}</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{(overall_sum/overall_len)*100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(overall_sum/overall_len)*100}}%"></div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}


    <script src="{{ url_for('static', filename='js/answer.js') }}"></script>
    <!-- <script src='https://code.responsivevoice.org/responsivevoice.js'></script> -->

    <script type="text/javascript">
        // var obj = { {{flashcard.answer}} : 'John' };
        // for(key in obj)
        //     var answer = key
        // console.log(answer)
        // responsiveVoice.speak(answer, "Chinese Female", {rate: 0.7});

        var elem = document.getElementById("my-stopwatch");
        var timer = new SecondStopwatch(elem, {delay: 10});
    </script>

{% endblock %}
