{% extends "base2.html" %}

{% block title %}realtime{% endblock %}

{% block page_content %}

        {% for key in ls.keys() %}

            <div class="row">
              <div class="col-md-9">
                {% if ls[key].split(',')[0] == '0' %}<b style="font-size: 15px">{{key}}</b> - <b class="red">Not started</b>{% else %}<b class="green">Started</b>{% endif %} - Score - {{ls[key].split(',')[1]}} - Total Repetitions - {{ls[key].split(',')[2]}}
              </div>
              <div class="col-md-3">
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar"role="progressbar" aria-valuenow="{{(ls[key].split(',')[2]|int/210)*100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(ls[key].split(',')[2]|int/210)*100}}%"></div>
                </div>
              </div>
            </div>


          <br/>
        {% endfor %}


    <script type="text/javascript">
    setTimeout(function(){
     window.location.reload(1);
   }, 3000);
    </script>

{% endblock %}
