{% extends "base.html" %}

{% block title %}Flashcard - Learning Collection {{ name }}{% endblock %}

{% block page_content %}

    <div class="learn_word_outer">
        <div class="learn_word_inner">
            <div>
                <div class="flashcard-body">
                <div style="font-size:15px; font-weight:lighter; color:grey">
                    <span id="my-stopwatch"></span> seconds
                </div>

                    {% if flashcard.question_html %}
                        <p>{{ flashcard.question_html | safe }}</p>
                    {% else %}
                        <p>{{ flashcard.question }}</p>
                    {% endif %}
                </div>

            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <input type="text" class="form-control" id="response" onkeydown="detect(event)"  autofocus="autofocus" >
                </div>
            </div>
            <div id="buttons">
                    <a onclick="showAnswer();"> <span class="btn btn-primary">Don't Know</span></a>
                    <a onclick="showAnswer();"> <span class="btn btn-primary">Submit</span></a>
            </div>
            <div class="learn" id="answer">
                <div class="flashcard-body" id="answer_text">
                    {% if flashcard.answer_html %}
                        <p>{{ flashcard.answer_html | safe }}</p>
                    {% else %}
                        <p>{{ flashcard.answer }}</p>
                    {% endif %}
                </div>

                <div class="row choiseBtn">
                    <div class="col-xs-6 col-md-4" id="wrong_answer">
                        <a id ="wrong_link" href="{{ url_for('.test_wrong', collId=collection.id,cardId=flashcard.id,duration=5,mode=request.args.get('mode')) }}" class="btn btn-primary">Next Question</a>
                    </div>
                    <div class="col-xs-6 col-md-4" id="right_answer">
                        <a id ="right_link" href="{{ url_for('.test_right', collId=collection.id,cardId=flashcard.id,duration=5, mode=request.args.get('mode')) }}" class="btn btn-primary">Next Question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}


    <script src="{{ url_for('static', filename='js/answer.js') }}"></script>
    <!-- <script src='https://code.responsivevoice.org/responsivevoice.js'></script> -->

    <script type="text/javascript">
        // var obj = { {{flashcard.answer}} : 'John' };
        // for(key in obj)
        //     var answer = key
        // console.log(answer)
        // responsiveVoice.speak(answer, "Chinese Female", {rate: 0.7});

        var elem = document.getElementById("my-stopwatch");
        var timer = new Stopwatch(elem, {delay: 10});
    </script>

{% endblock %}
